.cache
build
node_modules
node_modules/.cache
.env
.env.*
.git
.gitignore
*.md
.cursor
.vscode
npm-debug.log*
*.log
scripts/tmp
worker/scripts/tmp
worker/scripts/out
tmp
extensions
*.tsbuildinfo
Dockerfile
DockerfileDev
DockerfileProd
.dockerignore
coverage
