.commands {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  padding-top: 10px;
  padding: 10px 10px 0 10px;
  justify-content: space-between;
}

.ProseMirror iframe {
  width: 100%;
  height: 300px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background: #fff;
}

.ProseMirror pre code {
  font-family: monospace;
  font-size: 14px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background: #f5f5f5;
  display: block;
  overflow: auto;
}

.tiptap-image {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 8px 0;
}