.languageTable_action {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0;
}

.publishModal_webpresence_card {
  padding: 12px;
  border: 1px solid var(--app-color-border-secondary);
  border-radius: 12px;
  background: var(--app-color-surface-secondary);
}
