.languageTable_action {
  width: 100%;
  display: flex;
  flex-direction: column;
  /* 设置垂直方向排列 */
}

.publishModal_webpresence_card {
  padding: 12px;
  border: 2px solid rgb(239, 239, 239);
  border-radius: 8px;
}