.publish_languageselect_line {
  display: flex;
  justify-content: space-between; /* 子元素之间留有空间 */
}

.languageTable_action {
  width: 100%;
  display: flex;
  flex-direction: column; /* 设置垂直方向排列 */
}
