.sideMenuWrap {
  width: 100%;
  border-right: 1px solid #eee;
  display: flex;
  flex-direction: column;
  max-height: 100%;
  overflow-y: auto;
  gap: 8px;
}

.sideMenuItem {
  display: flex;
  align-items: center;
  justify-content: left;
  cursor: pointer;
  padding: 0 8px;
  transition: all 0.2s;
  border-radius: 8px;
  min-height: 2.8rem;
}

.sideMenuItem:hover {
  background-color: rgba(0, 0, 0, 0.06);
  transition:
    border-color 0.3s,
    background 0.3s,
    padding 0.1s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.sideMenuText {
  display: -webkit-box;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: "hidden";
  text-overflow: "ellipsis";
  text-align: "left";
}
