.currency-header,
.card-header {
  display: flex;
  justify-content: space-between; /* 确保左右分布 */
  align-items: center; /* 如果需要垂直居中 */
}

.currency-action {
  /* 右对齐 */
  margin-left: auto; /* 将元素推到右边 */
}

.manual_rate_input {
  margin-top: 8px;
}
