.user_profile_wrapper {
  display: flex;
}

.user_profilecard_left {
  display: flex;
}

.plan_overview {
  margin-left: 16px; /* 头像和计划概述之间的间距 */
  display: flex;
  flex-direction: column; /* 纵向排列 */
}

.plan_action {
  display: flex;
  margin-top: 30px;
  gap: 8px; /* 按钮之间的间距 */
}

.user_profilecard_right {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  align-items: flex-end; /* 使所有内容右对齐 */
}

.character_usage_label {
  margin-bottom: 4px; /* 标签和统计数据之间的间距 */
  display: flex;
  flex-direction: column; /* 保证在列方向上排列 */
  align-items: flex-end; /* 标签右对齐 */
}

.characters_statistical {
  display: flex;
  gap: 4px; /* 控制各字符使用项的间距 */
  margin-top: 30px;
  justify-content: center; /* 水平居中对齐 */
  align-items: center; /* 垂直居中对齐 */
}

.characters_all {
  color: #0f0f0f;
}

.language_cards {
  display: flex;
  overflow-x: auto;
  width: 100%;
  white-space: nowrap;
}

.language_cards .ant-col {
  display: inline-block;
  margin-right: 10px; /* Optional, for spacing between cards */
}

.language_statu {
  display: flex;
  justify-content: center; /* 水平居中 */
  align-items: center; /* 垂直居中 */
  height: 2em; /* 设置高度为两行高，假设一行高为 1em */
  text-align: center; /* 使文本水平居中 */
}
