.user_profile_wrapper {
  display: flex;
}

.user_profilecard_left {
  display: flex;
}

.plan_overview {
  margin-left: 16px; /* 头像和计划概述之间的间距 */
  display: flex;
  flex-direction: column; /* 纵向排列 */
}

.plan_action {
  display: flex;
  margin-top: 30px;
  gap: 8px; /* 按钮之间的间距 */
}

.user_profilecard_right {
  display: flex;
  flex-direction: column; /* 垂直排列 */
  margin-left: auto; /* 使右侧内容靠右 */
}

.character_usage_label {
  margin-bottom: 4px; /* 标签和统计数据之间的间距 */
}

.characters_statistical {
  display: flex;
  gap: 4px; /* 控制各字符使用项的间距 */
  margin-top: 30px;
  justify-content: right;
  align-items: flex-end; /* 确保底部对齐 */
}

.characters_all {
    color: #0f0f0f;
}

.language_cards {
  display: flex;
  overflow-x: auto;
  width: 100%;
  white-space: nowrap;
}

.language_cards .ant-col {
  display: inline-block;
  margin-right: 10px; /* Optional, for spacing between cards */
}
