.rtl-input {
  /* 基础RTL支持 */
  text-align: right;
  direction: rtl;
}

.rtl-input input {
  text-align: right;
  direction: rtl;
}

.success_input {
  color: rgb(0, 127, 97);
  /* 文本颜色 */
  border-color: rgb(0, 127, 97) !important;
  /* 边框颜色 */
  caret-color: rgb(0, 127, 97);
}

.success_input:focus,
.success_input:hover {
  border-color: rgb(0, 127, 97) !important;
  box-shadow: none !important;
  /* 去掉antd自带高亮 */
}